body {
    background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

h1 {
    color: red;
    font-style: italic;
}

h2 {
    color: blue;
}

.btn {
    font-size: small;
    padding: 2px;
    background-color: #c0c0c0;
    border-left: 2px solid #eaeaea;
    border-top: 2px solid #eaeaea;
    border-right: 2px solid #717171;
    border-bottom: 2px solid #717171;
}

.btn:active {
    border-right: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    border-left: 2px solid #717171;
    border-top: 2px solid #717171;
}

.btn[disabled], .btn.disabled {
    color: #999;
    background-color: #d0d0d0;
    cursor: not-allowed;
}

.btn > .btn-text {
    display: inline-block;
    line-height: 1;
    padding: 5px;
    border: 1px solid transparent;
}

.btn:active > .btn-text, .btn:focus > .btn-text {
    border: 1px dotted;
}

button:focus {
    outline: none;
}

canvas {
    width: 100%;
    max-width: 500px;
}
